[2019-12-04 15:36] 1ucian0 opened #1 "Good first issues"
# Abstract
Qiskit (Terra in particular) has [several bugs tagged as `good first issues`](https://github.com/Qiskit/qiskit-terra/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22). These issues are low priority, relatively simple to fix, and they can be a good introduction the Qiskit codebase. This project is about closing as many of those issues as possible.

# Members
This project is a

[2019-12-05 15:24] 1ucian0 opened #2 "Testing visualization modules in Terra"
# Abstract
Terra is having troubles testing all the visualization modules (see https://github.com/Qiskit/qiskit-terra/issues/2968). That has [on hold a bunch of issues](https://github.com/Qiskit/qiskit-terra/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22on+hold%22+2968). Probably, the way to go is mocking the external libraries that create this figures and make sure that they are called with the *r

[2019-12-05 21:39] quantumjim opened #3 "Procedural Generation"
# Abstract

Algorithms are sometimes used to generate things like maps, levels, puzzles or even stories for games. This is [procedural generation](https://en.wikipedia.org/wiki/Procedural_generation). Let's do it with a quantum computer!

# Description

A proof-of-principle project on quantum terrain generation has already been done. See [this tutorial](https://github.com/quantumjim/blog/blob/mast

[2019-12-05 21:40] quantumjim opened #4 "Improve error correction in Qiskit Ignis"
# Abstract

Qiskit Ignis includes a simple example of quantum error correction, which can be used to benchmark near-term devices. There are things that could be improved, so let's do it.

# Description

The `topological_codes` module implements various quantum error correcting codes, all of which can be analyzed by the same decoder: `GraphDecoder`. This contains a set of methods, all based on grap

[2019-12-05 21:40] quantumjim opened #5 "Port MicroQiskit to a new language"
# Abstract
[MicroQiskit](https://github.com/quantumjim/MicroQiskit/blob/master/README.md) is essentially a trial version of Qiskit, which is made available in languages other than Python 3. It contains all the basic features of writing and simulating quantum programs in Qiskit, all implemented in a minimal amount of code (~100 lines for the Python2/MicroPython/CircuitPython version). This could be

[2019-12-06 08:45] t-imamichi opened #6 "Classical optimizer for VQE"
# Abstract
Variational quantum eigensolver (VQE) is a hybrid quantum algorithm to find the ground state of an input Hamiltonian. There are several classical optimizer available in Qiskit Aqua such as SPSA and Cobyla. See the [full list](https://github.com/Qiskit/qiskit-aqua/tree/master/qiskit/aqua/components/optimizers).

Let's implement more optimizers for VQE of Aqua. There are a couples of opti

[2019-12-06 09:14] Zoufalc opened #7 "Variational Approximate Quantum Eigendecomposition"
# Abstract
Eigendecompositions have a large variety of applications in physics, biology, mechanical engineering, ML, etc. To find the exact Eigendecomposition of a quantum system one has to employ Hamiltonian simulation techniques that require large, error-resistant systems. However, as discussed in https://arxiv.org/pdf/1810.10506.pdf an approximate Eigendecomposition can be implemented with a va

[2019-12-06 09:16] t-imamichi opened #8 "Solve optimization problems with DOcplex translator"
# Abstract
Aqua has the DOcplex translator for optimization problems. It automatically generates an Ising Hamiltonian for an optimization problem and you can solve it with quantum computers by applying VQE or QAOA. Let's solve your own optimization problems or puzzles.

# Description
Solving an optimization problem with quantum computer requires translating the optimization problem into an Ising H

[2019-12-06 21:23] 1ucian0 opened #10 "A better layout selection scoring system"
# Abstract
In a [previous camp](https://github.com/qiskit-community/qiskit-camp-asia-19/issues/4), participants noticed that the way a layout is scored might not have a good correlation with how many swaps are needed at the end.

More info in https://github.com/Qiskit/qiskit-terra/issues/3522 and https://github.com/qiskit-community/qiskit-camp-asia-19/issues/4

# Description

The project needs som

[2019-12-09 08:00] Unathi-Skosana commented on #7
I'm in, Unathi Skosana, Physicist.

[2019-12-09 22:15] 1ucian0 commented on #1
@qcamp

[2019-12-09 22:28] robertloredo opened #11 "Deploy Qiskit onto a Raspberry Pi (emulator if device not available)"
# Abstract

Many educators and makers are interested in using Raspberry Pi devices as a teaching tool or creating fun projects for students and hobbyists. Having the ability to load Qiskit onto a Raspberry Pi device may be an ideal project.

# Description

Load Qiskit onto a Raspberry Pi (emulator if hardware not available) that can take data input and run a quantum experiment. For example: read i

[2019-12-10 03:50] HuangJunye commented on #11
I found a repo with similar idea: https://github.com/ordmoj/qrasp

[2019-12-10 06:19] omarcostahamido commented on #5
I would like to support this issue.
Also, this is the type of issue that could (should) have several spin off groups.
(see [My team is complete](https://github.com/qiskit-community/qiskit-camp-africa-19#team-formation))

[2019-12-10 10:25] quantumjim commented on #11
@asierarranz will there be a raspi at the camp?

[2019-12-10 11:12] CarrieRubidge commented on #7
I am interested in joining. I am a physics masters student.

[2019-12-10 11:23] BryceFuller opened #14 "Implement new classical optimizer for VQE/QAOA"
# Abstract
 An interesting optimizer has been proposed recently by Stokes et al which shows promise for use in VQE. Let’s implement it and test how well it works with stochastic noise!

![image](https://user-images.githubusercontent.com/22630711/70606902-225b1f00-1c06-11ea-9ae2-e9fc322063a0.png)

[This paper](https://arxiv.org/abs/1909.02108) goes into a lot of detail about it.

[This paper](https

[2019-12-10 11:49] lmongalo commented on #6
Hi Im am Lehlohonolo, I am interested in this  issue

[2019-12-10 14:34] paulineollitrault opened #15 "COBRA: commutator algebra for efficient excited state calculation"
# Abstract
Computing the excited states of molecules is essential to the understanding of photochemical reactions and in turn to the design of new materials for e.g. solar cells. Last year the qEOM algorithm was designed and implemented in qiskit (https://arxiv.org/pdf/1910.12890.pdf) to compute the molecular excited states with a quantum device. One of the module of this code is unfortunately bad

[2019-12-10 15:36] t-imamichi commented on #6
https://github.com/qiskit-community/qiskit-camp-africa-19/issues/14 is related. Especially, If you are interested in Quantum Natural Gradient, please check it out.

[2019-12-10 19:29] JavaFXpert opened #16 "Quantum Music Loops"
# Abstract
Create a musical loop generator that generates a “loop” by running a circuit 2^num_qubit times and playing the measured note pitch each time. The input to the circuit would be an incrementing basis state (e.g. |000> through |111>. The musician would control the output by altering the circuit before the next loop is generated.

For starters could use a three qubit circuit, with each basi

[2019-12-10 20:33] VicPinaCanelles opened #17 "Quantum Walk implementation and study"
# Abstract

Implementing a circuit for a quantum walk, and studying its behavior when we change its evolution rules. Possibly using it to simulate some simple particle physics process.

# Description

[Random walks](https://en.wikipedia.org/wiki/Random_walk) are a fundamental concept in Mathematics, Computer Science and Physics. The walker's position is distributed according to a normal distributi

[2019-12-11 02:58] HuangJunye commented on #5
Please let me know if C# version will be work on. If not I'll start working on it next week.

[2019-12-11 04:20] Richhy commented on #6
Hi, I am Richman. I'm interested in this project.

[2019-12-11 08:07] hhorii opened #18 "[qiskit-aer] Extends thrust (gpu) statvector backend"
# Abstract

Currently only statevector is supported in gpu branch. This proposal adds support unitary and density matrix simulator as master branch does for statevector.

# Description

[`UnitaryMatrix`](https://github.com/Qiskit/qiskit-aer/blob/9c778a1273f85951d4f3f12edff7e7a67ce51fef/src/simulators/unitary/unitarymatrix.hpp#L35) and [`DensityMatrix`](https://github.com/Qiskit/qiskit-aer/blob/9c7

[2019-12-11 08:31] hhorii opened #19 "[qiskit-aer] Add more benchmark and run all the methods"
# Abstract

Add more [benchmark](https://github.com/Qiskit/qiskit-aer/tree/master/test/benchmark) and run all the methods of qiskit-aer

# Description

Currently, benchmark of qiskit-aer has [few application](https://atilag.github.io/qiskit-aer-benchmark-results/) with few methods. This propose aims to add more benchmark with various `method` configuration.

## Reference
- [airspeed velocity](http

[2019-12-11 08:46] dongreenberg opened #20 "Variational Matrix Inversion with Linear Combinations of Circuits"
# Abstract
Matrix inversion is one of the most important computational primitives in the world today. HHL is the canonical long-term quantum algorithm for matrix inversion, but in the last several months, several near-term variational algorithms have been proposed. One promising proposal is https://arxiv.org/abs/1909.07344, which uses linear combinations of circuits to represent a solution.

# Des

[2019-12-11 08:48] BryceFuller opened #21 "Quantum data compression using quantum autoencoders."
# Abstract
Autoencoders are a useful tool in ML which learn how to compress data. A quantum version of this exists and could be a nice addition to qiskit's quantum machine learning toolkit.

# Description
[There's a great paper](https://arxiv.org/pdf/1612.02806.pdf) which gives a pretty rigorous treatment; however the core idea is not terribly complicated. This would be a great project to learn a

[2019-12-11 08:49] nbronn opened #22 "Support for New Quantum Hardware (i.e. Nitrogen Vacancy Centers)"
# Abstract

Allow Qiskit to compile to native gate set of new hardware, i.e. nitrogen vacancy centers.

# Description

# Members

 - @githubhandle
 - @githubhandle - Slack: `@slackhandle` email: `example@example.com`
 - Qiskit Coach: @githubhandle

# Deliverable

# GitHub repo

[2019-12-11 09:10] nbronn opened #23 "Building Kernels for Advanced Discrimination"
# Abstract

Explore different ways of classifying and analyzing the results of qubit measurements.

# Description

Measurement kernels allow different methods for qubit state discrimination (see [tutorial](https://github.com/Qiskit/qiskit-ignis/blob/master/examples/DiscriminatorTutorial.ipynb)). This may involve processing level 0 (voltage waveform) data to level 1 (IQ) data to level 2 (classified

[2019-12-11 09:28] dongreenberg opened #24 "Utility for Estimating Probability of Circuit Success Given Device Properties"
# Abstract
Given a circuit and the properties of a device, estimate the fidelity of the output of the circuit. We can also say, given a circuit and backend, what is the probability that the solution will have a fidelity within x% of the solution.

# Members

# Deliverable
A Qiskit python module and a notebook demonstrating the proof-of-concept for the utility, and at least one test comparing resul

[2019-12-11 09:36] dongreenberg opened #25 "Comparing Aer Noisy Simulator to a Device"
# Abstract
We are often asked how "accurate" a noise model in Aer is compared to the real device it is meant to model. It would be very useful to have a utility to perform such a comparison. Specifically, the utility can have two modes of execution:
1) Given a circuit, execute the circuit on the simulator and device, and compute the cross entropy between the resulting distributions.
2) Given a cir

[2019-12-11 09:41] dongreenberg opened #26 "UCCSDT - Test the UCCSD Ansatz with Extension to Triple Excitations"
# Abstract
Implement triple excitation evolutions in the UCC ansatz and test their performance against UCCSD on a few sample molecules. Alternatively, implement the popular UCCSD(T) approximation scheme and compare it to UCCSD (and/or UCCSDT).

# Members

# Deliverable
A python module and notebook comparing the UCCSDT module to UCCSD on a sample set of molecules with complicated electronic interac

[2019-12-11 09:53] lcapelluto opened #27 "OpenPulse backend test mock / benchmarking"
# Abstract

The `pulse` module of Qiskit has yet to be benchmarked. The purpose of benchmarking is to provide a deterministic way to assess performance of software over time. There is room for improvement in the performance of `pulse` operations; building benchmarks will allow us to quantify progress and justify code refactors.

# Description

### Part 1: Build a 100Q mocked backend

The first ste

[2019-12-11 09:59] jinsungkim89 opened #28 "Compare the output of randomized benchmarking with cross-entropy benchmarking"
# Abstract
Randomized benchmarking (RB) is the industry standard for characterizing the error rates of quantum gates. Recently, cross-entropy benchmarking (XEB) has been introduced as an alternative benchmarking technique to RB which does not require Clifford gates and reportedly yields the same error per gate as RB. Write a notebook which generates an RB circuit and in parallel an XEB circuit and

[2019-12-11 10:04] nbronn opened #29 "Calibration Routines with OpenPulse"
# Abstract

Use OpenPulse to develop qubit calibration routines.

# Description

Calibration routines require pulse-level access to the qubits in order to determine the correct frequency, amplitude, etc, for creating native gates such as X90 and CNOT gates. Some techniques from the scientific literature that would be interesting to implement are
- Parameter determination from error amplification (

[2019-12-11 11:05] oliverfunk commented on #16
@qcamp
Would like to join this project

[2019-12-11 13:29] quantumjim commented on #22
Getting started on any kind of spin qubit would be a great thing to see.

[2019-12-11 15:34] omarcostahamido opened #30 "rev-p"
# Abstract

Here is the main challenge:
Given a probability distribution, what is the circuit that can output that probability distribution using the state vector simulator.

# Description

this challenge can be developed to have three components:

### _user interface_
- allowing user to manually draw a probability distribution
### _rev-p_
- reversing the probability distribution: finding the circ

[2019-12-11 15:55] willie84 commented on #11
This looks super interesting.
This is wonderful.

[2019-12-11 16:48] faraimazh commented on #22
Interesting problem to work on.

[2019-12-11 18:02] steelslayer091 commented on #3
@qcamp

[2019-12-11 18:05] steelslayer091 commented on #3
@qcamp

[2019-12-11 18:07] 1ucian0 commented on #29
@qcamp

[2019-12-11 18:08] 0xMujtaba commented on #3
@qcamp

[2019-12-11 20:35] quantumjim commented on #5
@omarcostahamido @HuangJunye If either of you are there at the camp, and want to be a local coach (and to pitch) I cam add you in.

[2019-12-11 20:37] NandiBee opened #32 "Prototyping an Educational Game for Quantum Computing"
Video games are an excellent way to engage and interact with players. The aim of this project is to create a demo, prototype or vertical slice of a game that uses IBM Qiskit to demonstrate quantum computing concepts, create exposure and awareness to further interest in the field.

[2019-12-11 20:40] omarcostahamido commented on #5
sure ;)

[2019-12-11 20:50] sapmarvins commented on #22
I am glad to see Nitrogen Vacancy being considered here.  A very good source of on-demand qubit.

[2019-12-11 20:55] sapmarvins commented on #22
@nbronn, what is the end goal pls. I am an experimental physicist working with NV centers, SPDC and quantum dots. I specialized in experimental nanophotonics.

[2019-12-11 21:18] bytesalad commented on #16
I am interested in this project. My expertise is in software engineering but I also have background as a musician.

[2019-12-11 21:18] buriom commented on #14
Looks interesting

[2019-12-11 21:26] omarcostahamido commented on #32
_(...)
enter your full name in the field Name of your [profile](https://github.com/settings/profile).
(...)
Open an issue in this repo (using the [new project](https://github.com/qiskit-community/qiskit-camp-africa-19/issues/new?assignees=&labels=members+wanted&template=new-project-template.md&title=Project+name) template) and explain your idea in some paragraphs.
(...)_

[2019-12-11 21:26] bytesalad commented on #11
Looks like an interesting project

[2019-12-11 21:46] SsinghZAR commented on #32
I'd like to work on this project

[2019-12-11 22:14] rodneyosodo commented on #32
@NandiBee  maybe something like this?
👇

[2019-12-11 22:14] rodneyosodo commented on #32
# Abstract
Video games are an excellent way to engage and interact with players. The aim of this project is to create a demo, prototype or vertical slice of a game that uses IBM Qiskit to demonstrate quantum computing concepts, create exposure and awareness to further interest in the field.

# Description
To create a demo of a game that uses Qiskit to demonstrate quantum computing concepts, create

[2019-12-11 22:33] Mabonito opened #33 "Qu-beat"
We will be making a simple program that takes in beats and learn how the beat was composed and then the machine has to make a unique beat form what is has learned from the previous beats. So basically what we will be making is a model that can create a beat from the current ones that it has learned from

[2019-12-11 22:36] rodneyosodo commented on #33
Please use the issue template👍

[2019-12-11 22:44] rodneyosodo commented on #7
I am interested in joining

[2019-12-11 22:47] ismaila-at-za-ibm opened #34 "Bayesian Framework for Quantum Algorithms in Qiskit: Principled Computing Amidst Noise"
# Abstract
Bayesian Inference is a powerful tool for handling noise and uncertainty while learning from data. It leverages well-defined parameterized models (theory) of the system under study and raw observations of the system (data) to iteratively gain information about the uncertain parameters in the theory. For quantum algorithms run on quantum computing devices, the "model" of the system is th

[2019-12-11 22:57] ismaila-at-za-ibm opened #35 "Implement Quantum Approximate Counting: Generalized Grover Search Hits"
# Abstract
Generalized Grover Search involves counting the number of items that are marked by a black box function. This algorithm can be used for amplitude estimation.

This project implements Scott Aaronson et al's very recent algorithm:
Quantum Approximate Counting, Simplified
https://arxiv.org/abs/1908.10846

# Members

 - @githubhandle
 - @githubhandle - Slack: `@slackhandle` email: `example@

[2019-12-12 04:41] coralfe opened #36 "Games: Crossword Puzzle Generator"
# Abstract
Given a collection of words (and hints) generate a Crossword Puzzle from the words.

# Description
Generating crosswords is an NP-complete problem. The process is a constraint satisfaction problem and can be converted to a Boolean constraint satisfaction problem (SAT). Quantum SAT algorithms are faster than their classical counterparts.

It may be fun, if there is time, to add some crea

[2019-12-12 04:44] ghost commented on #32
I would like to work on this project.

[2019-12-12 04:58] HuangJunye commented on #5
Unfortunately I couldn’t go to the camp, but @omarcostahamido is there.

[2019-12-12 05:01] fifimatu opened #37 "Quantum Circuit Optimisation using SAT solver & A* Algorithm"
# Abstract
Find the optimal SWAP gates  necessary for running a quantum circuit on the IBM Q system using SAT solver to find the best qubit placement and the A* algorithm to find the minimum SWAP gates between sub-circuits

This project will implement Atsushi Matsuo et al's algorithm:

Reducing the Overhead of Mapping Quantum Circuits to IBM Q System
https://ieeexplore.ieee.org/document/8702439

#

[2019-12-12 05:16] KrupaPrag commented on #34
@ismaila-at-za-ibm  Interesting idea!

[2019-12-12 05:18] conradhaupt commented on #34
This project looks very interesting! Hopefully I can contribute as part of this team.

[2019-12-12 05:23] 1ucian0 commented on #37
Maybe you want to have a look to:
 - https://github.com/Qiskit/qiskit-terra/pull/1310
 - https://github.com/Qiskit/qiskit-terra/pull/3586#pullrequestreview-330268808
 - and the results of  https://github.com/qiskit-community/qiskit-camp-asia-19/issues/4

[2019-12-12 05:30] waheeda-saib opened #38 "Q-means : A quantum algorithm for unsupervised machine learning"
# Abstract
Q-means is an unsupervised machine learning approach that is the quantum version of of the K-means clustering algorithm. The proposed q-means offers an exponential speedup in the number of points of the dataset as compared to the classical k-means algorithm. This method will applied to a malaria drug dataset to explore drug similarity

This project implements the NeurIPS 2019 paper:
q-m

[2019-12-12 05:41] oliverfunk commented on #22
I am also interested in this. I'm an experimentalist working on electrons on superfluid helium type quantum hardware

[2019-12-12 05:56] robertloredo commented on #11
A link with a similar deployment:
https://github.com/kproche/quantum-raspberry-tie

[2019-12-12 06:11] rodneyosodo commented on #21
interested

[2019-12-12 06:50] maphai opened #39 "quantum walk 101"
# Abstract
using quantum computing to manipulate transport states

breaking down the helicopter flight into quantum states(QVE) and maximize the shock that produces the lift/drag we desire.
we will rely on the rotation matrix that gives a solution to the nse.
# Description

# Members

 - @githubhandle
 - @githubhandle - Slack: `@slackhandle` email: `example@example.com`
 - Qiskit Coach: @githubhan

[2019-12-12 06:50] Eric-Muthemba opened #40 "Quantum Chess"
# Abstract
Creating a chess game where some  chess pieces  exhibit quantum properties (teleportation, entanglement, superposition and interference ) while the board exhibit noise i.e it can loose your chess piece

[2019-12-12 06:53] lmongalo opened #41 "Quantum Variational Monte Carlo (QVMC) optimisation"
# Abstract
QVMC optimisation implimentation on Qiskit for ground state and exception energy calculations .

# Description
The aim of this project is to implement  QVMC optimisation on Qiskit. This can be used in chemistry applications to calculate ground state and excitations state of molecules. Other applications include optimisation in finance.

# Members

 - @lmongalo
 - @githubhandle - Slack:

[2019-12-12 06:56] Richhy commented on #41
@lmongalo I am interested in this issue.

[2019-12-12 06:57] IanJoel commented on #41
I am interested in this project

[2019-12-12 06:57] AnesanR commented on #41
@lmongalo
I would like to join to the group.

[2019-12-12 06:59] Adeola80 commented on #6
Hi, Ajagbe Sunday is my name, I am interested in this project

[2019-12-12 07:01] SimonRosen42 commented on #21
@qcamp

[2019-12-12 07:01] ilsinay commented on #41
I am interested in this project

[2019-12-12 07:01] oliverfunk opened #42 "Electron Spin Qubit: Electrons on Superfluid Helium"
# Abstract
Qiskit compilation for electron spin qubits, targeting a new type of quantum hardware using electrons on a substrate of superfluid helium.

Related to issue #22

# Members

 - @githubhandle
 - @githubhandle - Slack: `@slackhandle` email: `example@example.com`
 - Qiskit Coach: @githubhandle

# Deliverable

Terra Module

# GitHub repo

[electrons-on-helium_FORRESTworkshop.pdf](https://git

[2019-12-12 07:10] conradhaupt commented on #29
This looks very interesting!

[2019-12-12 07:14] Nqubehm commented on #8
This is quite interesting.

[2019-12-12 07:16] MQubit commented on #41
I am interested in the project

[2019-12-12 07:44] omarcostahamido commented on #32
This is looking good. I would love to be a coach, but I must say that @VicPinaCanelles is a great coach to have for this project.

[2019-12-12 07:58] quantumjim commented on #3
See also #36, which would be another take on quantum proc gen.

[2019-12-12 08:01] unicornhunter commented on #15
qbot

[2019-12-12 08:04] unicornhunter commented on #15
@qcamp

[2019-12-12 08:17] Nqubehm commented on #38
I am interested in this.

[2019-12-12 08:18] oliverfunk commented on #21
@qcamp

[2019-12-12 08:18] leesong187 commented on #38
I am interested in this.

[2019-12-12 08:24] rodneyosodo commented on #21
@qcamp

[2019-12-12 08:25] leesong187 commented on #38
@qcamp

[2019-12-12 08:25] willie84 commented on #38
@qcamp

[2019-12-12 08:35] lpoulo commented on #3
@qcamp

[2019-12-12 08:37] QuantumEnshanglement commented on #28
@qcamp

[2019-12-12 08:37] #19 closed

[2019-12-12 08:37] MQubit commented on #8
I am interested

[2019-12-12 08:38] #17 closed

[2019-12-12 08:39] conradhaupt commented on #34
@qcamp

[2019-12-12 08:39] GemmaDawson commented on #8
@qcamp

[2019-12-12 08:39] SsinghZAR commented on #32
@qcamp

[2019-12-12 08:39] coralfe commented on #3
@qcamp

[2019-12-12 08:41] quantumjim commented on #32
If you want someone far away to bounce ideas off of, let me know.

[2019-12-12 08:42] ShawalKassim1998 commented on #34
@qcamp to win

[2019-12-12 08:42] #35 closed

[2019-12-12 08:44] wentzel12u commented on #38
@qcamp

[2019-12-12 08:45] unicornhunter commented on #34
@qcamp

[2019-12-12 08:49] #5 closed

[2019-12-12 08:49] hodgestar commented on #23
@qcamp

[2019-12-12 08:51] waheeda-saib opened #43 "Q-means based on paper"
# Abstract
This project implements the NeurIPS 2019 paper:
q-means: A quantum algorithm for unsupervised machine learning
https://papers.nips.cc/paper/8667-q-means-a-quantum-algorithm-for-unsupervised-machine-learning.pdf

# Members

 - @githubhandle
 - @githubhandle - Slack: `@slackhandle` email: `example@example.com`
 - Qiskit Coach: @githubhandle

# Deliverable

# GitHub repo

[2019-12-12 08:52] waheeda-saib opened #44 "Data loading : Malaria drug dataset to Quantum data"
# Abstract

# Description

# Members

 - @githubhandle
 - @githubhandle - Slack: `@slackhandle` email: `example@example.com`
 - Qiskit Coach: @githubhandle

# Deliverable

# GitHub repo

[2019-12-12 08:53] #2 closed

[2019-12-12 08:54] #6 closed

[2019-12-12 08:54] #42 closed

[2019-12-12 08:54] #10 closed

[2019-12-12 08:55] #16 closed

[2019-12-12 08:55] #20 closed

[2019-12-12 08:56] #14 closed

[2019-12-12 08:57] #24 closed

[2019-12-12 08:58] #25 closed

[2019-12-12 08:58] #26 closed

[2019-12-12 08:58] #27 closed

[2019-12-12 08:59] #29 closed

[2019-12-12 08:59] #30 closed

[2019-12-12 08:59] #36 closed

[2019-12-12 09:00] #37 closed

[2019-12-12 09:06] #39 closed

[2019-12-12 09:07] #1 closed

[2019-12-12 09:07] #11 closed

[2019-12-12 09:07] #40 closed

[2019-12-12 09:10] buriom commented on #8
@qcamp

[2019-12-12 09:10] GemmaDawson commented on #8
Slack: @gemma

[2019-12-12 09:11] 1ucian0 commented on #21
mashaka molepo
Makakole Mafane
Simon Rosen
Oliver Funk
Rodney Osodo

coach: Bryce Fuller

[2019-12-12 09:11] GemmaDawson commented on #8
Slack: @Gemma

[2019-12-12 09:12] buriom commented on #8
Slack: @Buri

[2019-12-12 09:15] 1ucian0 commented on #32
Dimpho Majatladi
Ann vuyanzi
Adano daniela
Nandi Bau
Siddarth Singh

coach: vicente

[2019-12-12 09:18] 1ucian0 commented on #3
Ghulame Mujtaba Arbi
Bernard Lebeko Poulo
Eric Ndirangu
Coral Featherstone

Coach: Ken Nixon

[2019-12-12 09:21] 1ucian0 commented on #4
Risper Gitau
Karimi Wambui
Jane Kimani
Grace Shako
Michelle Mueni

coach: Elisa

[2019-12-12 09:28] richardyoung00 commented on #44
[MalariaDrugImagesGHS.zip](https://github.com/qiskit-community/qiskit-camp-africa-19/files/3954924/MalariaDrugImagesGHS.zip)

[2019-12-12 09:30] 1ucian0 commented on #8
Gershomn Buri
Miranda Daemane
Gemma Dawson
Ab

Coach: Takashi Imamichi

[2019-12-12 09:32] 1ucian0 commented on #33
Tshepang Motsosi
Scott Oshiro
coach: Lauren, Omar

[2019-12-12 09:33] t-imamichi commented on #8
Ab -> Abdighafar Abdirahman

[2019-12-12 09:35] 1ucian0 commented on #28
Yousha Shoaib
doreen mango
Wendy Ombima
Gontse Masutha
Goodgift Moyo

coach: jin

[2019-12-12 09:38] 1ucian0 commented on #7
Unathi K. Skosana
sahar ben rached
Galen Pickard
Carrie-Anne Rubidge
Rahel Weldegebriel Abreham

coach:  christa zoufal

[2019-12-12 09:41] 1ucian0 commented on #22
Nkinyili Tiberius
letsoalo Gift
Ajagbe Sunday Adeola
Solomon Uriri
Farai Mazhandu

coach: David Ittah and Nick Bronn

[2019-12-12 09:46] DocHarry commented on #44
@qcamp

[2019-12-12 09:46] 1ucian0 commented on #18
biruk abere ambaw
luel hagos beyene
Haftom Tekleweyni
Matthew Brown

coach: Hiroshi

[2019-12-12 09:48] moswil commented on #44
### A Review on Quantum Image Processing
- Here is the link to QIP
https://medium.com/@maddyschiappa/quantum-image-processing-d80a3c0722f4

[2019-12-12 09:49] abelk10 commented on #44
Check this one too

https://community.qiskit.org/experiments/quantum-img-processing/

[2019-12-12 09:55] bytesalad commented on #18
@qcamp

[2019-12-12 09:55] Nqubehm commented on #44
@qcamp

[2019-12-12 09:55] waheeda-saib commented on #44
Have a look at how the data is loaded for QSVM: https://medium.com/datadriveninvestor/implementation-of-quantum-svm-using-the-qiskit-library-9eabb6a6270a

[2019-12-12 09:55] moswil commented on #44
@qcamp

[2019-12-12 10:10] abdigf commented on #8
@qcamp

[2019-12-12 10:21] 1ucian0 commented on #41
This team is moved to https://github.com/qiskit-community/qiskit-camp-africa-19/issues/15

[2019-12-12 10:21] #41 closed

[2019-12-12 10:22] waheeda-saib commented on #38
look at how the dot product is implemented in qsvm
https://github.com/Qiskit/qiskit-aqua/tree/master/qiskit/aqua/algorithms/classical/svm

[2019-12-12 10:23] fifimatu commented on #38
https://arxiv.org/pdf/1703.10793.pdf

[2019-12-12 10:52] moswil commented on #44
### Quantum Image Processing Paper
https://arxiv.org/pdf/1801.01465.pdf

[2019-12-12 10:57] abelk10 commented on #44
NEQR paper

https://www.researchgate.net/publication/257641933_NEQR_A_novel_enhanced_quantum_representation_of_digital_images

[2019-12-12 11:26] qcamp commented on #3
Hi @lpoulo! I could not add you to this group because you are already in #3. If you want to change teams, unassign yourself from #3 and write me again here.

[2019-12-12 11:26] qcamp commented on #3
Hi @coralfe! I could not add you to this group because you are already in #3. If you want to change teams, unassign yourself from #3 and write me again here.

[2019-12-12 11:26] qcamp commented on #34
Hi @unicornhunter! I could not add you to this group because you are already in #15. If you want to change teams, unassign yourself from #15 and write me again here.

[2019-12-12 11:33] Filazion commented on #44
@qcamp

[2019-12-12 12:26] t-imamichi commented on #8
How to try qiskit tutorials
[code]

[2019-12-12 12:29] mmibrah2 commented on #23
@qcamp

[2019-12-12 12:34] KrupaPrag commented on #23
@qcamp

[2019-12-12 12:37] amindila commented on #23
@qcamp

[2019-12-12 12:41] mugi-hub commented on #23
@qcamp

[2019-12-12 13:17] Naym0 commented on #43
@qcamp

[2019-12-12 13:21] mwangiwambui commented on #43
@qcamp

[2019-12-12 13:34] richardyoung00 commented on #44
This test in Aqua shows how to initialise the state of a circuit to a custom vector. https://github.com/Qiskit/qiskit-aqua/blob/0a9e3df421dc24e16e552909f72942e101cc7643/test/aqua/test_initial_state_custom.py

[2019-12-12 13:52] erodrago commented on #3
@qcamp

[2019-12-12 14:19] moswil commented on #44
This is for how to apply PCA for image data
https://medium.com/@sebastiannorena/pca-principal-components-analysis-applied-to-images-of-faces-d2fc2c083371

[2019-12-12 14:26] Wombizi commented on #28
@qcamp

[2019-12-12 14:28] MotanyaIsaack commented on #43
@qcamp

[2019-12-12 14:28] ghost commented on #28
@qcamp

[2019-12-12 14:28] GontseMasutha commented on #28
@qcamp

[2019-12-12 14:31] ghost commented on #28
@qcamp

[2019-12-12 14:31] abelk10 commented on #44
@qcamp

[2019-12-12 14:34] moswil commented on #44
PCA
https://www.datacamp.com/community/tutorials/principal-component-analysis-in-python

[2019-12-12 14:45] ghost commented on #32
@qcamp

[2019-12-12 14:50] waheeda-saib commented on #38
Dummy data to use: https://drive.google.com/drive/folders/1lgaHcpwIvBGSKa3IZsikKdx99Yx-I7A7

[2019-12-12 14:51] Eric-Muthemba commented on #34
@qcamp

[2019-12-12 14:58] luelhagos commented on #18
@qcamp

[2019-12-12 14:58] Haftom2323 commented on #18
@qcamp

[2019-12-12 15:00] unicornhunter commented on #34
@qcamp

[2019-12-12 15:01] richardyoung00 commented on #44
Look at point number 7
https://developer.ibm.com/recipes/tutorials/kmeans-clusterization-algorithm-with-quantum-circuit-part-2/

[2019-12-12 15:03] AnesanR commented on #15
@qcamp  Anesan Reddy

[2019-12-12 15:04] ilsinay commented on #15
@qcamp

[2019-12-12 15:04] IanJoel commented on #15
@qcamp

[2019-12-12 15:04] qcamp commented on #28
Hi @moyofanele! I could not add you to this group because you are already in #28. If you want to change teams, unassign yourself from #28 and write me again here.

[2019-12-12 15:05] lmongalo commented on #15
@lmongalo

[2019-12-12 15:06] Richhy commented on #15
@qcamp Richman Sheshane

[2019-12-12 15:08] MQubit commented on #8
@qcamp

[2019-12-12 15:13] makakole commented on #21
@qcamp

[2019-12-12 15:14] richardyoung00 commented on #44
https://towardsdatascience.com/an-approach-to-choosing-the-number-of-components-in-a-principal-component-analysis-pca-3b9f3d6e73fe

[2019-12-12 15:14] Biruk-Abere commented on #18
@qcamp

[2019-12-12 15:16] Unathi-Skosana commented on #7
@qcamp

[2019-12-12 15:17] CarrieRubidge commented on #7
@qcamp

[2019-12-12 15:17] qcamp commented on #7
Hi @Unathi-Skosana! I could not add you to this group because you are already in #7. If you want to change teams, unassign yourself from #7 and write me again here.

[2019-12-12 15:28] RisperGitau commented on #4
@qcamp

[2019-12-12 15:29] DocHarry commented on #44
link for the code of the component selection:
https://github.com/mGalarnyk/Python_Tutorials/blob/master/Sklearn/PCA/PCA_Image_Reconstruction_and_such.ipynb

[2019-12-12 15:35] GShako commented on #4
@qcamp

[2019-12-12 15:38] Daniela-gumme commented on #32
@qcamp

[2019-12-12 15:40] Adeola80 commented on #22
@qcamp

[2019-12-12 15:47] annvuyanzi commented on #32
@qcamp

[2019-12-12 15:50] karivone commented on #4
@qcamp

[2019-12-12 15:59] 1ucian0 commented on #38
@waheeda-saib , I sent you an invitation to the coaches team. Please, join that team so our bot knows that you are not a participant but a coach! Thanks!

[2019-12-12 15:59] 1ucian0 commented on #43
@waheeda-saib , I sent you an invitation to the coaches team. Please, join that team so our bot knows that you are not a participant but a coach! Thanks!

[2019-12-12 16:00] 1ucian0 commented on #34
@ismaila-at-za-ibm  I sent you an invitation to the coaches team. Please, join that team so our bot knows that you are not a participant but a coach! Thanks!

[2019-12-12 16:14] 1ucian0 commented on #28
Hi @jinsungkim89 ! I just invited you the coaches team. Please, join the team so our bot knows that you are not participant but the coach. Thanks!

[2019-12-12 16:18] 1ucian0 commented on #23
Hi @nbronn You were invited to join the coaches team. That's the way the bot knows that you are not a participant but a coach. Please, accept the invitation!

[2019-12-12 17:17] scottoshiro2 commented on #33
@qcamp

[2019-12-12 17:57] Femi-2019 commented on #43
@qcamp

[2019-12-12 18:14] fifimatu commented on #38
Bernstein Vazirani Qiskit link: https://community.qiskit.org/textbook/ch-algorithms/bernstein-vazirani.html
Bernstein Vazirani Video: https://www.youtube.com/watch?v=sqJIpHYl7oo

[2019-12-12 18:20] faraimazh commented on #22
@qcamp

[2019-12-12 18:21] ttnkinyili commented on #22
@qcamp

[2019-12-12 18:31] MGLetsoalo commented on #22
@qcamp

[2019-12-12 18:52] qcamp commented on #22
Hi @faraimazh! I could not add you to this group because you are already in #22. If you want to change teams, unassign yourself from #22 and write me again here.

[2019-12-12 18:52] qcamp commented on #22
Hi @maphai! I could not add you to this group because it is full.

[2019-12-12 19:10] leesong187 commented on #43
@qcamp

[2019-12-12 19:10] leesong187 commented on #43
@qcamp

[2019-12-12 19:22] MQubit commented on #8
https://github.com/MQubit/Wifi-Coverage

[2019-12-12 19:24] qcamp commented on #43
Hi @leesong187! I could not add you to this group because you are already in #38. If you want to change teams, unassign yourself from #38 and write me again here.

[2019-12-12 19:25] qcamp commented on #43
Hi @leesong187! I could not add you to this group because you are already in #38. If you want to change teams, unassign yourself from #38 and write me again here.

[2019-12-12 19:27] leesong187 commented on #43
@qcamp

[2019-12-12 19:35] doreenmoraa commented on #28
@qcamp

[2019-12-12 20:00] jane-tj commented on #4
@qcamp

[2019-12-12 20:02] Mueni commented on #4
@qcamp

[2019-12-12 20:09] saharbenrached commented on #7
@qcamp

[2019-12-12 20:19] ttunduny commented on #38
@qcamp

[2019-12-12 20:19] wswapped commented on #38
@qcamp

[2019-12-12 20:20] OmondiKevin commented on #38
@qcamp

[2019-12-12 20:23] GalenPickard commented on #7
@qcamp

[2019-12-12 20:42] RahelWg commented on #7
@qcamp

[2019-12-13 07:41] hodgestar commented on #23
@nbronn Could you change the title to "Understanding and Improving Measurement"?

[2019-12-13 07:59] Mabobosana commented on #21
@qcamp

[2019-12-13 08:08] waheeda-saib commented on #43
https://papers.nips.cc/paper/8667-q-means-a-quantum-algorithm-for-unsupervised-machine-learning

[2019-12-13 08:22] Filazion commented on #44
[data.zip](https://github.com/qiskit-community/qiskit-camp-africa-19/files/3959718/data.zip)

[2019-12-13 08:26] Filazion commented on #44
https://developer.ibm.com/recipes/tutorials/kmeans-clusterization-algorithm-with-quantum-circuit-part-2/

[2019-12-13 08:31] hodgestar commented on #23
https://github.com/hodgestar/qiskit-pop-kernels/ -- our GitHub repo

[2019-12-13 08:35] omarcostahamido commented on #33
Qu-Beats

# Abstract

Generating beats with quantum circuits

# Description

# Members

 - @Mabonito - email: `tbmotsosi@gmail.com`
 - @scottoshiro2 - Slack: `@soshiro` email: `213syo@gmail.com`
 - Qiskit Coach: @omarcostahamido @lcapelluto

# Deliverable

a github repo, a jupyter notebook

# GitHub repo

https://github.com/omarcostahamido/Qu-Beats

[2019-12-13 08:37] hodgestar commented on #23
Deliverables:

* Understand qubit measurement and pulse control.
* Investigation of measurement performance as a function of measurement pulse frequency.
* Characterisation of X and K for a qubit.
* Created improved discriminators.

[2019-12-13 08:43] hodgestar commented on #23
Description:

Qubit measurement is a process that consists of generating a measurement
pulse, having the pulse interact with the qubit, reading out voltages,
integrating the voltages into IQ values, and classifying the IQ values
as a particular measurement outcome.

The goal of this project is to understand and characterise this pipeline.

[2019-12-13 08:51] wswapped commented on #38
Here is the [repository with the code](https://github.com/wswapped/quantum-malaria-drug.git)

[2019-12-13 08:55] moswil commented on #44
Title: Quantum image dataset loading
Description:
This project converts given image dataset to quantum processable data(qubits) by utilizing PCA for dimensionality reduction and initial states for generating qubits. It can analyze the number of PCA components and produce the transformed qubits of an image dataset for a chosen IBM quantum device or simulator. The variance percentage that is being k

[2019-12-13 08:58] karivone commented on #4
change of title
#improving error correction function

[2019-12-13 09:09] bytesalad commented on #18
Group Name: Q-Acceleration

[2019-12-13 09:14] lpoulo commented on #3
Issue git Repo: https://github.com/nixkj/qprocgen

[2019-12-13 09:20] Filazion commented on #44
[data.zip](https://github.com/qiskit-community/qiskit-camp-africa-19/files/3959977/data.zip)

[2019-12-13 09:32] fthiongo commented on #38
@qcamp

[2019-12-13 10:12] Filazion commented on #44
[screenshots.zip](https://github.com/qiskit-community/qiskit-camp-africa-19/files/3960249/screenshots.zip)

[2019-12-13 10:35] Mueni commented on #4
#Understanding the error correction function

[2019-12-13 10:57] anniespencer1021 commented on #34
@qcamp

[2019-12-13 11:09] MotanyaIsaack commented on #43
The link to the GitHub repository that bears our algorithm implementation
Link: https://github.com/MotanyaIsaack/Speed-up-version-of-Q-Means.git

[2019-12-13 11:11] Mueni commented on #4
#Abstract
Qiskit Ignis includes a simple example of quantum error correction, which can be used to benchmark near-term devices. So lets dig in to understand this concept much better

#Description
The topological_codes module implements various quantum error correcting codes, all of which can be analyzed by the same decoder: GraphDecoder. This contains a set of methods, all based on graph theory.

[2019-12-13 11:17] karivone commented on #4
[Qcamp (1).pdf](https://github.com/qiskit-community/qiskit-camp-africa-19/files/3960454/Qcamp.1.pdf)
Documentation on Understanding the error correction function

[2019-12-13 11:27] conradhaupt commented on #34
Our submission is here https://github.com/conradhaupt/Qiskit-Bayesian-Inference-Module-QCA19- in the notebook titled IQPE Bayesian Inference.ipynb.

[2019-12-13 11:29] QuantumEnshanglement commented on #28
https://github.com/QuantumEnshanglement/Qiskit-Camp-2019-Project

[2019-12-13 11:56] qcamp commented on #38
Hi @fthiongo! I could not add you to this group because it is full.

[2019-12-13 12:10] omarcostahamido commented on #33
presentation:
https://docs.google.com/presentation/d/1NW7U_GlczXQ9Rn-Ufml5Xie-tFY_vbJgowsy2uo8Ewo/

[2019-12-13 12:13] Naym0 commented on #43
The link to our group presentation
Link: https://www.beautiful.ai/-LvyC8zLuwl0MXdOvi7R/1

[2019-12-13 12:15] Naym0 commented on #43
The link to our group presentation
Link: https://www.beautiful.ai/player/-LvzAKfOvD3rKTTOWTcN/Q-means

[2019-12-13 12:17] Mueni commented on #4
Presentation power point

[Qiskit hackathon.pptx](https://github.com/qiskit-community/qiskit-camp-africa-19/files/3960701/Qiskit.hackathon.pptx)

[2019-12-13 12:23] Nqubehm commented on #44
### Presentation slides
[CLASSICAL DATA TO QUANTUM DATA.pptx](https://github.com/qiskit-community/qiskit-camp-africa-19/files/3960718/CLASSICAL.DATA.TO.QUANTUM.DATA.pptx)

[2019-12-13 12:24] ilsinay commented on #15
[COBRA_Qiskit_Africa_19.pptx](https://github.com/qiskit-community/qiskit-camp-africa-19/files/3960719/COBRA_Qiskit_Africa_19.pptx)

[2019-12-13 12:26] KrupaPrag commented on #23
Our presentation:
https://prezi.com/p/e_valentgk5c/

[2019-12-13 12:26] GemmaDawson commented on #8
https://github.com/MQubit/Wifi-Coverage/blob/master/QiskitPresentation(1).pptx

[2019-12-13 12:28] Wombizi commented on #28
https://github.com/Wombizi/-28-Presentation

[2019-12-13 12:29] conradhaupt commented on #34
Our presentation is given here: https://github.com/conradhaupt/Qiskit-Bayesian-Inference-Module-QCA19-/blob/master/Qiskit%20Camp%20Africa%202019.pdf

[2019-12-13 12:33] Unathi-Skosana commented on #7
https://drive.google.com/file/d/0ByiI43-xxrHfakFlUkxfdlJVZ0Q2NlRiZGVocFM4cUhMNXEw/view?usp=drivesdk

[2019-12-13 12:38] OmondiKevin commented on #38
[Clustering Malaria Drugs using Max-Cut Algorithm.pptx](https://github.com/qiskit-community/qiskit-camp-africa-19/files/3960814/Clustering.Malaria.Drugs.using.Max-Cut.Algorithm.pptx)

[2019-12-13 12:39] coralfe commented on #3
Presentation at

https://github.com/nixkj/qprocgen/blob/master/qprocegen_presentation.pdf

[2019-12-13 13:08] eyerus21 commented on #33
Can anyone working on this project give me any hint?

[2019-12-13 13:09] hhorii commented on #18
presentation: https://github.com/bytesalad/qiskit-aer/blob/52ebd192012a728887291921de8a9d7479a2ddf3/PresentationSlides.odp
commit log: https://github.com/bytesalad/qiskit-aer/commit/52ebd192012a728887291921de8a9d7479a2ddf3
commit time: Fri Dec 13 14:30

[2019-12-14 05:29] omarcostahamido commented on #33
Hint on what?

[2019-12-14 14:45] QuantumVic commented on #32
Congrats on the honorable mention guys ! Since we got it, we should make playing as accessible as possible ASAP in case anyone from the Camp wants to play it, right? I'd like to write a nice README if you agree, since I still have to spend 3 more hours in the airport :)

[2019-12-14 15:22] omarcostahamido commented on #32
me -> standing in line waiting to play it :|

[2019-12-14 21:16] Daniela-gumme commented on #32
I agree.

Regards

On Sat, Dec 14, 2019, 4:45 PM Vicente Pina Canelles <
notifications@github.com> wrote:

[2019-12-15 10:50] annvuyanzi commented on #32
Thank you. Yes i agree. We need to continue with the project. I got
intrest.

On Sat, Dec 14, 2019, 11:16 PM Daniela adano <notifications@github.com>
wrote:

[2019-12-15 11:29] QuantumVic commented on #32
Please add me as a collaborator in the project repository! @NandiBee

[2019-12-16 15:39] NandiBee commented on #32
Yes! Just sent an invite, sorry for being late   From: Vicente Pina CanellesSent: Sunday, 15 December 2019 13:29To: qiskit-community/qiskit-camp-africa-19Cc: Nandi Bau; MentionSubject: Re: [qiskit-community/qiskit-camp-africa-19] Qat the Cat - an educational game (#32) Please add me as a collaborator in the project repository! @NandiBee—You are receiving this because you were mentioned.Reply to th